<!-- <div style="color:green">Menu du Layout Public - componant app-header - playout.component.html</div>-->
<!--Logo + menu -->
<app-pheader></app-pheader>

<div class="container">
   <router-outlet></router-outlet>
</div>

<app-pfooter></app-pfooter>



