<body>

  <button class="button" onclick="window.location.href = 'http://localhost:4200/home';">BACK HOME</button>


  <img src="https://cdn.dribbble.com/users/2389367/screenshots/4800479/media/be21fa6ece4f09d6989a23f80c233a83.gif" alt="Error 404" class="center">


 </body>


