.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  width: 44%;
}

.button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10rem;
  width: 10%;

}
