.form_container {
  font-family: 'Downlink', sans-serif;
  margin: 0 auto;
  margin-top: 50px;
  position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	padding: 40px;
	transform: translate(-50%, -50%);
	background: rgba(0,0,0,.5);
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0,0,0,.6);
	border-radius: 10px;
}

.form_container .group {
  margin-bottom: 15px;
}

.form_container .label {
  display: flex;
  justify-content:center;
}

.form_container button {
  width: 190px;
  margin: 0 auto;
}

.form_error {
  color:rgb(107, 255, 248);
}

