<!-- <div class="form_container"> -->
<div class="form_container">
  <h1>Admin Login</h1>
  <!-- <div>
    <div>Pseudo: {{ form.pseudo }}</div>
    <div>Password: {{ form.password }}</div>
  </div> -->
  <br>
  <br>
  <!-- On tag et on branch le formulaire à Angular (#f=tag, "ngForm"=branchement)-->
  <!-- EventBiding => (ngSubmit) et f.form (f= liaison au système ngForm) + form = nom du formulaire -->
  <!-- valid = check si valid est à true/false et en fonction soummet le form lors du clic avec onSubmit()-->
  <!-- valid est à true par défaut si required non précisé dans input-->
  <form
    name="form"
    #f="ngForm"
    (ngSubmit)="f.form.valid && onSubmit()"
  >
    <div class="group">
      <label for="pseudo">Pseudo</label>
      <input type="text" name="pseudo" id="pseudo" [(ngModel)]="form.pseudo" #pseudo="ngModel" required>
    </div>
    <div class="form_error" *ngIf="pseudo.errors  && f.submitted">
      Pseudo is required !!
    </div>
    <div class="group">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" [(ngModel)]="form.password" #password="ngModel" required minlength="5">
      <div class="form_error" *ngIf="password.errors  && f.submitted">
        <div *ngIf="password.errors.required">Password is required !!</div>
        <div *ngIf="password.errors.minlength">A password with 5 caracters minimum is required !!</div>
      </div>
    </div>
    <div class="group">
      <button>Login</button>
    </div>
  </form>
</div>




