
<header>
  <nav>
  <br>
  <br>
    <a [routerLink]="['admin']">ADMIN</a>
  </nav>
</header>

<header class="header">
  <div class="container">
    <div class="header__container">
      <img src="assets/img/capt4.png" alt="helicopter logo" class="header__logo logo">
      <nav class="header__nav nav">
        <ul class="header__list">
          <li class="header__item">
            <a class="header__link" [routerLink]="['home']">Home</a>
          </li>
          <li class="header__item">
            <a class="header__link" href="#">Operation</a>
            <ul class="header__dropdown">
              <li class="header__dropdown-item">
                <a [routerLink]="['operation/maintenance']" class="header__dropdown-link">Maintenance</a>
              </li>
              <li class="header__dropdown-item">
                <a [routerLink]="['operation/correction']" class="header__dropdown-link">Correction</a>
              </li>
            </ul>
          </li>
          <li class="header__item">
            <a class="header__link" href="#">Documentation</a>
            <ul class="header__dropdown">
              <li class="header__dropdown-item">
                <a href="#" class="header__dropdown-link">Consult</a>
              </li>
              <li class="header__dropdown-item">
                <a href="#" class="header__dropdown-link">+ Add</a>
              </li>
            </ul>
          </li>
          <li class="header__item">
            <a class="header__link" href="#">Contact / Help</a>
            <ul class="header__dropdown">
              <li class="header__dropdown-item">
                <a href="#" class="header__dropdown-link">Control tower</a>
              </li>
              <li class="header__dropdown-item">
                <a href="#" class="header__dropdown-link">Admin</a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>

