* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: pink;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
}

.container {
  max-width: 1320px;
  padding: 0 20px;
  margin: 0 auto;
}

.header__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 6.25rem;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: auto;
  margin-bottom: 1rem;;
  max-width: 40%;
  height: auto;
  display: block;
}

.header__list {
  display: flex;
  align-items: center;
}

.header__item {
  position: relative;
}

.header__item:not(:last-child) {
  margin-right: 3rem;
}

.header__link {
  color: #008db3;
  height: auto;
  display: block;;
  height: auto;
  display: block;
  font-size: 1.2rem;
  font-family: sans-serif;
  font-weight: 600;
  transition: color 0.1s ease;
}

/* background fenetre menu */
.header__dropdown {
  visibility: hidden;
  position: absolute;
  border-radius: 10px;
  padding: 1.5rem 0;
  min-width: 11.875rem;
  background-color: #96e0de;
  left: -2rem;
  top: 2rem;
  display: flex;
  flex-direction: column;
  transition: visibility 0.1s ease;
}

.header__item:hover .header__dropdown {
  visibility: visible;
}
.header__item:hover .header__link {
  color: #156b83;
}
.header__link:focus {
  color: #008db3;
}
.header__link:focus + .header__dropdown {
  visibility: visible;
}

.header__dropdown::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -5px;
  left: 30%;
  width: 1.25rem;
  height: 1.25rem;
  transform: rotate(45deg);
  background-color: #a0d9f2;
}

.header__dropdown-link {
  color: #008db3;
  font-size: 1.1rem;
  font-weight: 500;
  word-break: break-all;
}

.header__dropdown-item {
  display: flex;
  padding: 1rem 2rem;
  width: 100%;
  background-color: transparent;
  transition: background-color 0.1s ease;
}

.header__dropdown-item:hover {
  background-color:#F5F5F5 ;
}
