<p>m-index works!</p>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<section id="tabs" class="project-tab">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <nav>
          <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Maintenance level 1</a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Maintenance level 2</a>
            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Maintenance level 3</a>
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <table class="table" cellspacing="0">
              <thead>
              <tr>
                <th>Name</th>
                <th>During</th>
                <th>Difficulty</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td><a href="#">Check motor oil</a></td>
                <td>5 mn</td>
                <td>easy</td>
              </tr>
              <tr>
                <td><a href="#">Check box tachometer</a></td>
                <td>15 mn</td>
                <td>medium</td>
              </tr>
              <tr>
                <td><a href="#">Check Bleed valve</a></td>
                <td>15 mn</td>
                <td>sensitive</td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <table class="table" cellspacing="0">
              <thead>
              <tr>
                <th>Project Name</th>
                <th>Employer</th>
                <th>Time</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td><a href="#">Work 1</a></td>
                <td>Doe</td>
                <td>john@example.com</td>
              </tr>
              <tr>
                <td><a href="#">Work 2</a></td>
                <td>Moe</td>
                <td>mary@example.com</td>
              </tr>
              <tr>
                <td><a href="#">Work 3</a></td>
                <td>Dooley</td>
                <td>july@example.com</td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
            <table class="table" cellspacing="0">
              <thead>
              <tr>
                <th>Contest Name</th>
                <th>Date</th>
                <th>Award Position</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td><a href="#">Work 1</a></td>
                <td>Doe</td>
                <td>john@example.com</td>
              </tr>
              <tr>
                <td><a href="#">Work 2</a></td>
                <td>Moe</td>
                <td>mary@example.com</td>
              </tr>
              <tr>
                <td><a href="#">Work 3</a></td>
                <td>Dooley</td>
                <td>july@example.com</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
