<nav>
  <a class="simple_link" [routerLink]="['/']">Home</a>
  <ul id="sidemenu">
    <li><a [routerLink]="['dashboard']">Dashboard</a></li>
    <li>> User</li>
    <ul>
      <li><a [routerLink]="['user']">user list</a></li>
      <li><a [routerLink]="['user/add']">add user</a></li>

    </ul>
    <li>> User type </li>
    <ul>
      <li><a [routerLink]="['user-type']">test2</a></li>
      <li><a [routerLink]="['user-type/add']">test2</a></li>

    </ul>

  </ul>
</nav>

