<app-aheader></app-aheader>
<div class="admin_body">
  <div class="menu">
    <app-sidemenu></app-sidemenu>
  </div>
  <div class="admin_container" style="border: solid 6px red;">
    <router-outlet></router-outlet>
  </div>
</div>
